.page{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  flex-wrap: wrap;
}

.mainImageContain {
  background: #4e5052;
  box-shadow:
    0.6px 0.5px 1.1px rgba(0, 0, 0, 0.02),
    1.5px 1.1px 2.7px rgba(0, 0, 0, 0.028),
    2.9px 2.1px 5px rgba(0, 0, 0, 0.035),
    5.1px 3.8px 8.9px rgba(0, 0, 0, 0.042),
    9.6px 7.1px 16.7px rgba(0, 0, 0, 0.05),
    23px 17px 40px rgba(0, 0, 0, 0.07)
  ;
  flex: 1 0 100%;
  height: 250px;
  position: relative;
}

.mainImageContain img{

  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page ul {

  background: #4e5052;
  box-shadow:
    0.6px 0.5px 1.1px rgba(0, 0, 0, 0.02),
    1.5px 1.1px 2.7px rgba(0, 0, 0, 0.028),
    2.9px 2.1px 5px rgba(0, 0, 0, 0.035),
    5.1px 3.8px 8.9px rgba(0, 0, 0, 0.042),
    9.6px 7.1px 16.7px rgba(0, 0, 0, 0.05),
    23px 17px 40px rgba(0, 0, 0, 0.07)
  ;
  flex: 1 0 100%;
  margin: 0;
  padding: 20px;
}

@media screen and ( min-width: 768px) {
  .page{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .mainImageContain {
    flex: 1 0 calc(50% - 20px);
    height: 100%;
    min-height: 400px;
  }

  .page ul {
    flex: 1 0 calc(50% - 20px);
  }
}


.favButtonActive {
  background: none;
  border: 1px solid #FF725C;
  border-radius: 50%;
  cursor: pointer;
  displaY: flex;
  margin-bottom: 20px;
  padding: 10px;

}

.favButtonActive svg{
  color: #FF725C;
  height: 20px;
  width: 20px;}

.favButton {
  background: none;
  border: 1px solid #878787;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  transition: border 125ms ease;
}

.favButton:hover, .favButton:focus {
  border: 1px solid #fff;
}

.favButton svg{
  color: #878787;
  height: 20px;
  transition: color 125ms ease;
  width: 20px;
}

.favButton:hover svg, .favButton:focus svg {
  color: #fff;
}

.ingredient {
  displaY: flex;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}

.imageContain {
  border-radius: 5px;
  display: flex;
  height: 50px;
  flex: 0 0 50px;
  overflow: hidden;
  position: relative;
}

.imageContain img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contentContain {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  padding-left: 1rem;
}

.directionsContain {
  background: #4e5052;
  box-shadow:
    0.6px 0.5px 1.1px rgba(0, 0, 0, 0.02),
    1.5px 1.1px 2.7px rgba(0, 0, 0, 0.028),
    2.9px 2.1px 5px rgba(0, 0, 0, 0.035),
    5.1px 3.8px 8.9px rgba(0, 0, 0, 0.042),
    9.6px 7.1px 16.7px rgba(0, 0, 0, 0.05),
    23px 17px 40px rgba(0, 0, 0, 0.07)
  ;
  margin-top: 20px;
  padding: 20px;
}

.textContain {
  max-width: 800px;
}