.header {
  background: #343535;
}

.headerWrap {
  displaY: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.header a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

.navLink {
  align-items: center;
  background: #343535;
  display: flex;
  flex: 1 0 auto;
  padding: 1rem;
  transition: background 125ms ease;
}

.navLinkActive {
  align-items: center;
  background: #3f4040;
  display: flex;
  flex: 1 0 auto;
  padding: 1rem;
  transition: background 125ms ease;
}

.navLink:hover,
.navLink:active {
  background: #3f4040;
}

.navLink svg,
.navLinkActive svg{
  margin-right: 10px;
}

@media screen and ( min-width: 769px ) {
  .wrap {
    padding: 40px 20px 80px 20px;
  }

  .navLink {
    flex: 0 0 auto;
    padding: 2rem;
  }
  
  .navLinkActive {
    flex: 0 0 auto;
    padding: 2rem;
  }
}